[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
keyboard = "*"
pandas = {version = "*", index = "http://pypi.douban.com/simple"}
selenium = {version = "*", index = "http://pypi.douban.com/simple"}
pyinstaller = {version = "*", index = "http://pypi.douban.com/simple"}

[dev-packages]

[requires]
python_version = "3.8"
